html,
body {
  height: 100%;
}

body {
  background-color: rgb(255, 192, 255);
  color: darkslategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  line-height: 1.5;
  font-size: 1.5em;
  text-align: center;
}

/* title, subtitle */
.titleSection {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  width: 2100px;
}

/* instructions, gameScreen, controls */
.midSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

/* about */
.aboutSection {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  width: 700px;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 20px;
}

p {
  font-size: 1em;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 10px;
}

/* left */
.midSection .instructions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 700px;
}

/* center */
.midSection .gameScreen {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* right */
.midSection .controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 700px;
}

.gameScreen .screen {
  background-color: rgb(245, 133, 217);
  width: 700px;
  height: 500px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#game-over-screen {
  background-color: darkslategrey;
  width: 700px;
  height: 500px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

canvas {
  display: flex;
  object-fit: none;
  object-position: top left;
}

.screen h2 {
  color: darkslategrey;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

.screen h3 {
  color: darkslategrey;
  font-size: 1em;
  font-weight: lighter;
  margin: 0;
}

.screen h5 {
  color: darkslategrey;
  font-size: 0.75em;
  font-weight: lighter;
  margin-top: 5px;
  margin-bottom: 20px;
}

button {
  font: inherit;
  font-weight: 350;
  background-color: rgb(255, 192, 255);
  color: rgb(233, 57, 189);
  border: 0;
  padding: 0.5em;
  font-size: 1em;
}

.pauseButton {
  background-color: transparent;
  padding: 0;
  width: 25px;
  height: 20px;
  justify-content: flex-end;
  align-items: baseline;
  position: absolute;
  top: 5px;
  left: auto;
  right: 10px;
}

.pauseImage {
  width: 25px;
  height: 20px;
}
